@model API.Model.Home.Index

@{
    ViewBag.Title = "Not permitted";
    Layout = "_Layout";
}

<h2 xmlns="http://www.w3.org/1999/html">Not permitted</h2>
<h3>The problem</h3>
<p>The resource you're trying to access is not accessible with your current credentials/login-level.</p>
<h3>How to resolve</h3>
<p>Consider using the <a href="@Url.Action("Login","Account")">Login</a> page to try an appropriate login/identity.</p>
