@model API.ViewModels.Translate.TranslateViewModel

@{
    ViewBag.Title = "Translate";
    Layout = "_Layout";
}

<div id="translationResults">
    
</div>

<script type="text/javascript" src="~/js/knockoutjs/knockout-3.5.1.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/translate/translate.js"></script>

