@model Taggloo4.Web.Areas.Admin.ViewModels.Words.IndexViewModel

@{
    ViewBag.Title = "Words";
    Layout = "_Layout";
}

<h2>Words</h2>
<p>This is the admin area.</p>
<!-- there should be warnings here -->

<!-- filters -->
<!-- paged grid -->
<!-- paginator -->
